{% extends "layouts/layout-auth.njk" %}

{% import "macros/button.njk" as button %}

{% set title = "Reset password" %}

{% block form %}
    {% if isAuthenticated %}
        <p>Du er allerede logget ind. Det' helt perfekt.</p>
    {% else %}
        <form class="space-y-6" action="/login" method="POST">
            <div>
                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                    <input id="username" name="username" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            {{ button.primary('button', 'submit', 'Send new password', 'default', 'full', null, null) }}
            <p>Form is currently not working</p>
        </form>
    {% endif %}
{% endblock %}