<!DOCTYPE html>
<html>
    {% include "../partials/head.njk" %}
    <body>
        {% include "../partials/header.njk" %}

        <div class="max-w-7xl mx-auto px-6 lg:px-8">
            <div class="grid grid-cols-12">
                <div class="col-span-2">
                    <nav>
                        <ul x-data="{ currentUrl: window.location.pathname }">
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}' }" href="/show/{{ showId }}">Overview</a>
                            </li>
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}/distribution' }" href="/show/{{ showId }}/distribution">Distribution</a>
                                <ul>
                                    <li>
                                        <a class="ml-2" :class="{ 'underline': currentUrl === '/show/{{ showId }}/distribution/website' }" href="/show/{{ showId }}/distribution/website">Website</a>
                                    </li>
                                    <li>
                                        <a class="ml-2" :class="{ 'underline': currentUrl === '/show/{{ showId }}/distribution/apps' }" href="/show/{{ showId }}/distribution/apps">Podcast apps</a>
                                    </li>
                                    <li>
                                        <a class="ml-2" :class="{ 'underline': currentUrl === '/show/{{ showId }}/distribution/embed-player' }" href="/show/{{ showId }}/distribution/embed-player">Embeddable player</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}/episodes' }" href="/show/{{ showId }}/episodes">Episodes</a>
                            </li>
                            <li>Statistics</li>
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}/settings'}" href="/show/{{ showId }}/settings">Settings</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-span-10">
                    {% if title %}
                        <div class="mb-6">
                            <h1 class="text-gray-900 text-4xl font-black mb-2">{{ title }}</h1>
                            {% if subtitle %}
                                <p class="text-xl font-bold">{{ subtitle }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </body>
    </html>