{% extends "layout.njk" %}

{% set title = "Add new episode" %}

{% block content %}
    {% if isAuthenticated %}
        <div class="max-w-2xl mx-auto">
            <form method="POST" action="/create-episode/{{ showId }}" enctype="multipart/form-data">
                <div>
                    <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Episode title</label>
                    <div class="mt-2">
                        <input id="title" name="title" type="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div>
                    <label for="showDescription" class="block text-sm font-medium leading-6 text-gray-900">Episode description</label>
                    <div class="mt-2">
                        <input id="showDescription" name="showDescription" type="textarea" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div>
                    <label for="audio" class="block text-sm font-medium leading-6 text-gray-900">Audio File</label>
                    <div class="mt-2">
                        <input id="audio" name="audio" type="file" accept=".mp3,.wav" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <br/>
                <button type="submit" class="flex w-full justify-center rounded-md bg-pink-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">Create episode</button>
            </form>
        </div>
    {% endif %}
{% endblock %}