{# episode.njk #}

{% extends "layout.njk" %}

{% set title = episode.title %}

{% block content %}
    <div class="episode-container">
        <h1>{{ episode.title }}</h1>
        <audio controls>
            <source src="{{ episode.audioPath }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
        <form action="/delete-episode/{{ episode._id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this episode?');">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete Episode</button>
        </form>
        <!-- Add other episode details here -->
        <p>{{ episode.description }}</p>
        <!-- Link to go back to the show or episode list -->
        <a href="/show/{{ episode.showId }}">Back to Show</a>
    </div>
{% endblock %}