{% extends "layout.njk" %}

{% set title = "My shows" %}

{% block content %}
	{% if isAuthenticated %}
		{% for show in shows %}
			<h2>
				<a href="/show/{{ show._id }}">{{ show.title }}</a>
			</h2>
			<h3>Episodes</h3>
			<ul>
				{% for episode in show.episodes %}
					<li>{{ episode.title }}</li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% else %}
		<p>You must be logged in to see your shows.</p>
	{% endif %}
{% endblock %}