{% extends "layout.njk" %}

{% block content %}
    <div class="max-w-prose prose">
        <h2>Built for privacy</h2>
        <p>Frequency is built with the purpose to protect personal data and give you full ownership as a podcast publisher.</p>

        <h2>European hosting setup</h2>
        <p>All data is hosted in europe in compliance with the rules of GDPR.</p>

        <h2>Feel free to leave</h2>
        <p>Frequency is a no strings attached business. You can cancel your subscription at the end of any month. And we will do our best to make the transition to a new host easy.</p>
    </div>
{% endblock %}