<!DOCTYPE html>
<html>
    {% include "head.njk" %}
    <body>
        {% include "header.njk" %}

        <div class="max-w-7xl mx-auto px-6 lg:px-8">
            <div class="grid grid-cols-12">
                <div class="col-span-2">
                    <nav>
                        <ul x-data="{ currentUrl: window.location.pathname }">
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}' }" href="/show/{{ showId }}">Overview</a>
                            </li>
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}/episodes' }" href="/show/{{ showId }}/episodes">Episodes</a>
                            </li>
                            <li>Statistics</li>
                            <li>
                                <a :class="{ 'underline': currentUrl === '/show/{{ showId }}/settings'}" href="/show/{{ showId }}/settings">Settings</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-span-10">
                    {% if title %}
                        <h1 class="text-center text-gray-900 text-4xl font-black mb-6">{{ title }}</h1>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </body>
    </html>