{% extends 'layouts/settings-layout.njk' %}

{% set title = 'Distribution' %}
{% set subtitle = 'Get your podcast out to the world' %}

{% block content %}
    <a href="#">Podcast website</a>
    <a href="#">Podcast apps</a>
    <a href="#">Embeddable player</a>
{% endblock %}