{% extends '../layouts/layout.njk' %}

{% block content %}
    <div class="prose">
        <p>Let's start on a dashboard overview</p>
        <p>On this page you should:</p>
        <ul>
            <li>Have quick access to most popular or recent shows related to the user</li>
            <li>Have a link to edit the user profile</li>
            <li>Be greeted by your first name and then a random string of motivational strings which are playful around podcasting</li>
            <li>...</li>
        </ul>
    </div>
{% endblock %}