{# macros.njk #}

{% macro textInput(label, id, name, placeholder, required, value = '') %}
    <div>
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <input type="text" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" required="{{ required }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" value="{{ value }}">
        </div>
    </div>
{% endmacro %}

{% macro emailInput(label, id, name, placeholder, required, value = '') %}
    <div>
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <input type="email" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" required="{{ required }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" value="{{ value }}">
        </div>
    </div>
{% endmacro %}

{% macro selectInput(label, id, name, required, options, selectedValue = '') %}
    <div>
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <select id="{{ id }}" name="{{ name }}" required="{{ required }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <option value="">Select {{ name }}</option>
                {% for option in options %}
                    <option value="{{ option }}" {% if option == selectedValue %} selected {% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}