{% macro textInput(label, id, name, placeholder, required, value = '') %}
    <div class="col-span-full">
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <input type="text" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" required="{{ required }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" value="{{ value }}">
        </div>
    </div>
{% endmacro %}

{% macro emailInput(label, id, name, placeholder, required, value = '') %}
    <div class="col-span-full">
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <input type="email" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" required="{{ required }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6" value="{{ value }}">
        </div>
    </div>
{% endmacro %}

{% macro textareaInput(label, id, name, placeholder, required, value = '') %}
    <div class="col-span-full">
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <textarea id="{{ id }}" name="{{ name }}" required="{{ required }}" placeholder="{{ placeholder }}" rows="4" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:text-sm sm:leading-6">{{ value }}</textarea>
        </div>
    </div>
{% endmacro %}

{% macro selectInput(label, id, name, required, options, selectedValue = '') %}
    <div>
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2">
            <select id="{{ id }}" name="{{ name }}" required="{{ required }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-pink-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <option value="">Select {{ label }}</option>
                {% for option in options %}
                    {% if option is string %}
                        <option value="{{ option }}" {%- if option == selectedValue -%} selected{%- endif -%}>{{ option }}</option>
                    {% else %}
                        <option value="{{ option.value }}" {%- if option.value == selectedValue -%}selected{%- endif -%}>{{ option.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% macro fileupload(label, id, name, required, currentImage, cta, fileRestrictions) %}
    <div 
    x-data="{
        isFileSelected: false, 
        selectedFileName: '', 
        selectedFilePreview: '', 
        dropzoneActive: false,
        fileChanged(event) {
            let file = event.target.files[0];
            this.selectedFileName = file.name;
            this.isFileSelected = true;
            this.selectedFilePreview = URL.createObjectURL(file);
        },
        fileDropped(event) {
            let file = event.dataTransfer.files[0];
            this.selectedFileName = file.name;
            this.isFileSelected = true;
            this.selectedFilePreview = URL.createObjectURL(file);
            document.getElementById('{{ id }}').files = event.dataTransfer.files;
        }
    }" 
    x-on:dragover.prevent="dropzoneActive = true" 
    x-on:dragleave.prevent="dropzoneActive = false" 
    x-on:drop.prevent="fileDropped($event)"
    class="col-span-full">
        <label for="{{ id }}" class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
         :class="{'bg-gray-100': dropzoneActive}">
            <!-- Drop area -->
            <div class="text-center" x-show="!isFileSelected">
                {% if name == 'image' %}
                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"/>
                    </svg>
                {% endif %}

                {% if name == 'audio' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z"/>
                    </svg>

                {% endif %}
                <div class="mt-4 justify-center flex text-sm leading-6 text-gray-600">
                    <label for="{{ id }}" class="relative cursor-pointer px-2 rounded-md bg-pink-600 font-semibold text-white focus-within:outline-none focus-within:ring-2 focus-within:ring-pink-600 focus-within:ring-offset-2 hover:text-pink-500">
                        <span>{{ cta }}</span>
                        <input id="{{ id }}" name="{{ name }}" type="file" class="sr-only"
                           x-on:change="fileChanged($event)">
                    </label>
                </div>
                <p x-show="dropzoneActive">Drop it like it's hot</p>
                <p class="text-xs leading-5 text-gray-600">{{ fileRestrictions }}</p>
            </div>
            <!-- File selected message -->
            <p class="pl-1" x-show="isFileSelected">File selected: <span x-text="selectedFileName"></span></p>
            <!-- Image preview -->
            {% if name === 'image' %}
                <img x-show="selectedFilePreview" :src="selectedFilePreview" alt="Selected File Preview" class="mt-4 mx-auto max-h-40"/>
            {% endif %}
        </div>
    </div>
{% endmacro %}