{% extends 'layouts/settings-layout.njk' %}

{% set title = 'Podcast website' %}
{% set subtitle = 'The public face for your podcast' %}

{% block content %}
    <p>Here the user will be able to modify the public facing website for the podcast</p>
{% endblock %}