{% extends 'layouts/settings-layout.njk' %}

{% set title = 'Podcast apps' %}
{% set subtitle = 'Get the show out to everyone' %}

{% block content %}
    <p>Select the services that will be noticed when new episodes of the show is out</p>
{% endblock %}