{% extends 'layouts/settings-layout.njk' %}

{% set title = 'Embeddable player' %}
{% set subtitle = 'Easy listening - everywhere' %}

{% block content %}
    <p>Here the user will be able to modify and get the embeddable player for the podcast show</p>
{% endblock %}